
/* FULL BOOTSTRAP SUPPORT ~147K */
/*@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss"; */



/* PARTIAL BOOTSTRAP SUPPORT ~34K */
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_grid.scss";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/print";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "font-awesome-4.5.0/scss/font-awesome.scss";
body {
	-webkit-font-smoothing: antialiased;
}

#menu {
	position: relative;
	width: 300px;
	overflow: hidden;
	background: #ecc;

	.back {
		padding: 8px;
		background: #bf2e2e;
		color: #fff;
		text-align: right;
		height: 40px;

		.category {
			font-weight: bold;
			font-size: 1.2em;
			float: left;
		}

		.backBtn {
			display: none;
			font-weight: bold;
			font-size: 1.2em;
		}
	}

	.menu-catgories {
		/*display: none;*/
	}

	.menu-container {
		float: left;
		position: relative;
	}

	.primary {
		float: left;
		li {
			background: #bbb;
		}
	}

	.tier2 {
		position: absolute;
		left:300px;
		top:0px;
		display: none;
		li {
			background: #7e7e7e;
		}
	}

	.tier3 {
		position: absolute;
		left:300px;
		top:0px;
		display: none;
		li {
			background: #3C3C3C;
		}
	}

	ul {
		padding: 0;
		list-style: none;
		width: 300px;
		display: block;
		float: left;
		position: relative;

		li {
			height: 45px;
			line-height: 45px;
			padding: 0 0 0 10px;
			overflow: hidden;
			border-bottom: 1px solid #fff;
			&:hover {
				background: #62aab2;
			}

			i {
				float: right;
				font-size: 2em;
				line-height: 2em;
				padding: 0 15px 0 0;
				color: #fff;
			}

			a {
				display: inline-block;
				color: #fff;
			}
		}

	}

}
